ruby:
  title = data.fetch(:title, 'Title')
  content = data.fetch(:content, 'Content')
  dismissible = data.fetch(:dismissible, true)
  type = data.fetch(:type, :default)
  type_class = {
    default: '',
    notice: 'uk-alert-primary',
    success: 'uk-alert-success',
    alert: 'uk-alert-warning',
    error: 'uk-alert-danger'
  }.fetch(type)
  classes = data.fetch(:classes, '')

div(class="#{type_class} #{classes}" role='alert' uk-alert='')
  - if dismissible
    a.uk-alert-close uk-close=""
  h3= title
  p= content