ruby:
  title = data.fetch(:title, 'Emlee')
  subtitle = data.fetch(:subtitle, 'Emlee helps you manage your employee data!')
  cover = data.fetch(:cover, image_url('cover.jpg'))
  height_viewport_props = data.fetch(:height_viewport_props, 'offset-top: true')

.uk-position-relative
  .uk-background-cover.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(uk-parallax="bgy: -50" uk-height-viewport="#{height_viewport_props}" style="background-image: url(#{cover})")
    .uk-overlay-primary.uk-light.uk-position-cover
      div(class="uk-position-center-left uk-text-left uk-padding")
        h1.uk-heading-primary.uk-text-uppercase= title
        p.uk-margin-small.uk-h3.uk-text-bold= subtitle
