nav.uk-navbar-container(uk-navbar)
  .uk-navbar-left= link_to root_path, class: 'uk-navbar-item uk-logo' do
    = image_tag('logo.svg', style:"height: 60px;")
  .uk-navbar-right
    ul.uk-navbar-nav.uk-text-bold
      li= link_to 'Home', root_path
      li= link_to 'About', about_path
      li= link_to 'App', employees_path
      - if user_signed_in?
        .uk-navbar-item= link_to destroy_user_session_path, method: :delete, class: 'uk-button uk-button-danger uk-button-small uk-border-rounded' do
          span Sign Out
          span.uk-margin-small-left(uk-icon="icon: sign-out; ratio: 0.8")
      