= simple_form_for(@employee, html: {multipart: true, class: 'uk-form-stacked'}) do |f|

  = f.input :name, wrapper_html: { class: 'uk-margin' }, label_html: { class: 'uk-form-label' }, input_html: { class: 'uk-input uk-border-rounded' }
  = f.input :surname, wrapper_html: { class: 'uk-margin' }, label_html: { class: 'uk-form-label' }, input_html: { class: 'uk-input uk-border-rounded' }
  = f.input :job_title, wrapper_html: { class: 'uk-margin' }, label_html: { class: 'uk-form-label' }, input_html: { class: 'uk-input uk-border-rounded' }
  = f.input :hometown, as: :select, collection: ['Baku', 'Moscow', 'London'], wrapper_html: { class: 'uk-margin' }, label_html: { class: 'uk-form-label' }, input_html: {class: 'uk-select uk-form-width-full uk-border-rounded'}
  = f.input :experience, as: :select, collection: ['1-3 years', '3-5 years', '5+ years'], wrapper_html: { class: 'uk-margin' }, label_html: { class: 'uk-form-label' }, input_html: {class: 'uk-select uk-form-width-full uk-border-rounded'}
  = f.input :dob, start_year: Date.today.year - 100, end_year: Date.today.year - 18, label: 'Date of Birth', wrapper_html: {class: 'uk-margin'}, label_html: { class: 'uk-form-label'}, input_html: {class: 'uk-select uk-form-width-small'} 
  
  .uk-margin
    div(uk-form-custom="target: true")
      = f.input_field :avatar
      input(class="uk-button uk-button-primary uk-border-rounded uk-button-small" type="text" placeholder="#{@employee.avatar.present? ? 'Change Avatar' : 'Select Avatar'}")

  = f.button :submit, class: 'uk-button-success uk-margin-right uk-border-rounded uk-button-small'
  = button_tag "Reset", type: :reset, class: 'uk-button uk-button-warning uk-border-rounded uk-button-small'