- title 'Edit Employee'

section.uk-section.uk-section-default.uk-padding-remove-bottom
  .uk-container
    div.uk-grid-small(uk-grid)
      div(class="uk-width-1-2@m")
        ul.uk-breadcrumb
          li= link_to 'Home', root_path
          li= link_to 'Employees', employees_path
          li.uk-disabled
            a= content_for(:title)

      div(class="uk-width-1-2@m uk-text-right")
        = link_to employees_path, class: 'uk-button uk-button-danger uk-button-small uk-border-rounded' do
          span Cancel
          span.uk-margin-small-left(uk-icon="icon: ban; ratio: 0.8")


section.uk-section.uk-section-default.uk-section-small
  .uk-container
    div.uk-grid-small.uk-flex-center(uk-grid)
      div(class="uk-width-2-3@m")
        .uk-card.uk-card-primary.uk-border-rounded.uk-box-shadow-large
          .uk-card-body
            h2.uk-h4.uk-text-uppercase= content_for(:title)
            = render 'form'
            