- title t(".title")
- description t(".description")
- og_image image_url("cover.jpg")

section.uk-section.uk-section-default.uk-section-medium
  .uk-container
    div.uk-grid-small(uk-grid)
      div(class="uk-width-1-2@m")
        ul.uk-breadcrumb
          li= link_to 'Home', root_path
          li.uk-disabled
            a Employees

      div(class="uk-width-1-2@m uk-text-right")
        = link_to new_employee_path, class: 'uk-button uk-button-primary uk-button-small uk-border-rounded' do
          span Add Employee
          span.uk-margin-small-left(uk-icon="icon: plus-circle; ratio: 0.8")


    table.uk-table.uk-table-justify.uk-table-divider.uk-table-middle
      caption DATABASE
      thead
        tr
          th.uk-table-shrink Profile
          th Name
          th Surname
          th Age
          th Job Title
          th Hometown
          th Experience
      tbody
        - @employees.each do |employee|
          tr
            td= image_tag(employee.avatar.thumb.url, class: "uk-preserve-width uk-border-circle", style: 'width: 40px')
            td.uk-table-link= link_to employee.name, employee, class: 'uk-link-reset'
            td= employee.surname
            td= age(employee.dob)
            td= employee.job_title
            td= employee.hometown
            td= employee.experience