- title t(".title", employee_name: @employee.name)
- description t(".description", employee_name: @employee.name)

section.uk-section.uk-section-default.uk-padding-remove-bottom
  .uk-container
    div.uk-grid-small(uk-grid)
      div(class="uk-width-1-2@m")
        ul.uk-breadcrumb
          li= link_to 'Home', root_path
          li= link_to 'Employees', employees_path
          li.uk-disabled
            a= @employee.full_name

      div(class="uk-width-1-2@m uk-text-right")
        = link_to edit_employee_path(@employee), class: 'uk-button uk-button-primary uk-button-small uk-border-rounded' do
          span Edit Employee
          span.uk-margin-small-left(uk-icon="icon: pencil; ratio: 0.8")

section.uk-section.uk-section-default.uk-section-small
  .uk-container
    div.uk-grid-small.uk-flex-center(uk-grid)
      div(class="uk-width-2-3@m")
        .uk-card.uk-card-primary.uk-border-rounded.uk-box-shadow-large
          .uk-card-header
            .uk-grid-small.uk-flex-middle uk-grid="" 
              .uk-width-auto= image_tag(@employee.avatar.thumb.url, class: "uk-border-pill uk-box-shadow-large", style: 'width: 80px')
              .uk-width-expand
                h3.uk-card-title.uk-margin-remove-bottom= @employee.full_name
                p.uk-text-meta.uk-margin-remove-top= @employee.job_title
          .uk-card-body
            p
              span.uk-label.uk-box-shadow-large Age
              span.uk-text-bold.uk-margin-left= age(@employee.dob)
            p
              span.uk-label.uk-box-shadow-large Hometown
              span.uk-text-bold.uk-margin-left= @employee.hometown
            p
              span.uk-label.uk-box-shadow-large Experience
              span.uk-text-bold.uk-margin-left= @employee.experience