// Alert mixins

@mixin hook-alert()
  border-radius: 5px
  h3
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
  p
    font-size: 14px

@mixin hook-alert-close()
  color: inherit
  opacity: 1.0

@mixin hook-alert-primary()
  background: rgba(44,168,255,0.8)
  color: #fff

@mixin hook-alert-success()
  background: rgba(24,206,15,0.8)
  color: #fff

@mixin hook-alert-warning()
  background: rgba(255,178,54,0.8)
  color: #fff

@mixin hook-alert-danger()
  background: rgba(255,54,54,0.8)
  color: #fff