- flash.each do |type, message|
  = component 'alert', data: { type: type.to_sym, title: type.upcase, content: message, classes: 'uk-position-small uk-position-top uk-box-shadow-small uk-position-z-index' }