- title 'User Login'

section.uk-section.uk-section-default.uk-section-small
  .uk-container
    div.uk-grid-small.uk-flex-center(uk-grid)
      div(class="uk-width-1-3@m")
        .uk-card.uk-card-primary.uk-border-rounded.uk-box-shadow-large
          .uk-card-body
            h3.uk-card-title
            = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'uk-form-stacked'}) do |f|
              .form-inputs
                = f.input :email, wrapper_html: {class: 'uk-margin'}, label_html: {class: 'uk-form-label'}, input_html: {class: 'uk-input uk-border-rounded'}
                = f.input :password, wrapper_html: {class: 'uk-margin'}, label_html: {class: 'uk-form-label'}, input_html: {class: 'uk-input uk-border-rounded'}
                = f.input :remember_me, wrapper_html: {class: 'uk-margin'}, label_html: {class: 'uk-form-label'}, input_html: {class: 'uk-checkbox uk-margin-small-right'}, as: :boolean if devise_mapping.rememberable?

              .form-actions
                = f.button :submit, 'Login', class: 'uk-button-success uk-button-small'