// Application

// Custom variables and variable overwrites.
$overlay-primary-background: rgba(0, 0, 0, 0.25) !default
$navbar-background: #fff !default
$navbar-nav-item-color: #263238 !default
$global-primary-color: #40c4ff !default
@import 'theme/alert'

// Default variables and available mixins.
@import 'uikit/src/scss/variables-theme.scss'
@import 'uikit/src/scss/mixins-theme.scss'

// Custom mixin overwrites.
@import 'theme/alert-mixins'

// UIkit
@import 'uikit/src/scss/uikit-theme.scss'

// Custom

// Buttons
.uk-button-success
  background: #3593f2
  color: #fff

.uk-button-warning
  background: #ffd740
  color: #222
