doctype html
html lang="en"
  head
    meta charset='utf-8'
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    meta http-equiv='x-ua-compatible' content='ie=edge'
    meta[name='author' content='Azar Aliyev']
    meta[name='copyright' content='Azar Aliyev. Copyright (c) 2018']
    meta[name='description' content="#{ content_for(:description) }"]
    meta[property="og:image" content="#{ content_for(:og_image) }"]
    title= content_for(:title)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all'
  body
    = render partial: "shared/flash_messages", flash: flash if !flash.empty?
    = component 'menu'
    = yield
    = javascript_include_tag 'application'